<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--Start of banner section-->
  <section class="banner-section">
  <div class="banner-container">
    <h1>ADMIRE MY HTML WEBSITE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquid aspernatur atque beatae dicta distinctio fuga ipsam ipsum
      labore, necessitatibus, optio quasi quia rerum sequi tempore totam vel vitae?</p>
    <button class="btn-signup">Sign Up</button>
    <button class="btn-signin">Sign In</button>
  </div>
  </section>
<!--End of banner section-->
<!--Start of about section-->
  <section class="about-section">
    <div class="about-container">
      <div class="top-about-container">
        <h2>The best design you can get</h2>
        <h4>Professional</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aliquam animi atque beatae ex, harum libero molestiae necessitatibus nisi nostrum officiis porro,
          quibusdam quo reprehenderit sapiente totam vero voluptatum?</p>
        <h4>Try It Now</h4>
        <button>Get started</button>
      </div>
      <div class="bottom-about-container">
        <div class="about-title-div">
          <h1>About Our Website</h1>
        </div>
        <div class="about-cards-div">
          <div class="card">
            <img src="../static/images/img6.png" alt="No image">
            <h2>Adorable</h2>
          </div>
          <div class="card">
            <img src="../static/images/img6.png" alt="No image">
            <h2>Lovely</h2>
          </div>
          <div class="card">
            <img src="../static/images/img6.png" alt="No image">
            <h2>Amazing</h2>
          </div>
          <div class="card">
            <img src="../static/images/img6.png" alt="No image">
            <h2>Exquisite</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--End of about section-->
<!--Start of gallery-->
  <section class=gallery-section"">
   <div class="gallery-container">
     <div class="gallery-top-div">
       <img src="../static/images/img1.jpg" alt="No image">
       <img src="../static/images/img2.jpg" alt="No image">
       <img src="../static/images/gradient.jpg" alt="No image">
       <img src="../static/images/img3.jpg" alt="No image">
       <img src="../static/images/img4.jpg" alt="No image">
       <img src="../static/images/img7.jpg" alt="No image">
     </div>
     <div class="gallery-bottom-div">
       <div class="gallery-content">
         <h4>Like our Gallery Page and Share our Photos</h4>
       <button>Like</button>
       </div>
     </div>
   </div>
  </section>
<!--End of gallery-->
<!--Start of comments section-->
<section class="comments-section">
  <div class="comments-div">
    <h6>Share your thoughts</h6>
  </div>
</section>
<!--End of comments section-->
</body>
</html>